Repository xJREB/service-based-antipatterns, pull requests merged in 2019-01, with the labels that each got.

#59 update nano services
  antipatterns/nano_services.json
Labels: json

#60 add data-driven migration
  antipatterns/data-driven_migration.json
Labels: json

#62 Added Nothing New Antipattern
  antipatterns/nothing_new.json
Labels: json

#63 Updated Nanoservices Antipattern
  antipatterns/nano_services.json
Labels: json

#54 add chatty service
  antipatterns/chatty_service.json
Labels: json

#55 add duplicated service
  antipatterns/duplicated_service.json
Labels: json

#56 add data service
  antipatterns/data_service.json
Labels: json

#57 add ambiguous name
  antipatterns/ambiguous_name.json
Labels: json

#64 Added No Legacy antipattern
  antipatterns/no_legacy.json
Labels: json

#61 Added Overstandardized SOA antipattern
  antipatterns/overstandardized_soa.json
Labels: json

#58 update mega service
  antipatterns/mega-service.json
Labels: json

#65 Updated megaservice with new source
  antipatterns/mega-service.json
Labels: json

#66 Updated chatty service with new source
  antipatterns/chatty_service.json
Labels: json

#67 Updated nanoservice with new source
  antipatterns/nano_services.json
Labels: json

#68 Updated data service with new source
  antipatterns/data_service.json
Labels: json

#70 Added Big Bang antipattern
  antipatterns/big_bang.json
Labels: json

#71 Updated No Legacy antipattern
  antipatterns/no_legacy.json
Labels: json

#72 Updated Overstandardized SOA antipattern with new source
  antipatterns/overstandardized_soa.json
Labels: json

#73 Add business process forever antipattern
  antipatterns/business_process_forever.json
Labels: json

#74 Add sand pile antipattern
  antipatterns/sand_pile.json
Labels: json

#75 Add On-Line Only antipattern
  antipatterns/on-line_only.json
Labels: json

#77 update transactional integration antipattern
  antipatterns/transactional_integration.json
Labels: json

#76 add new soruce
  antipatterns/nothing_new.json
Labels: json

#78 Added new paper source to existing antipatterns
  antipatterns/ambiguous_service.json
  antipatterns/chatty_service.json
  antipatterns/data_service.json
  antipatterns/duplicated_service.json
  antipatterns/mega-service.json
  antipatterns/nano_services.json
  antipatterns/sand_pile.json
  antipatterns/stovepipe_service.json
  antipatterns/the_knot.json
Labels: json

#79 Added Maybe It is Not RPC antipattern
  antipatterns/maybe_it_is_not_rpc.json
Labels: json

#80 Added CRUDy interface antipattern
  antipatterns/crudy_interface.json
Labels: json

#81 Added Bottleneck Service antipattern
  antipatterns/bottleneck_service.json
Labels: json

#82 Added Service Chain antipattern
  antipatterns/service_chain.json
Labels: json

#83 Added Bloated Service antipattern
  antipatterns/bloated_service.json
Labels: json

#85 Added Low Cohesive Operations antipattern
  antipatterns/low_cohesive_operations.json
Labels: json

#84 Added Redundant PortTypes antipattern
  antipatterns/redundant_port_types.json
Labels: json

#88 add Scattered Parasitic Functionality antipattern
  antipatterns/scattered_parasitic_functionality.json
Labels: json

#89 add ambiguous interface antipattern
  antipatterns/ambiguous_interface.json
Labels: json

#90 add extraneous adjacent connector antipattern
  antipatterns/extraneous_adjacent_connector.json
Labels: json

#86 add golden hammer antipattern
  antipatterns/golden_hammer.json
Labels: json

#87 add connector envy antipattern
  antipatterns/connector_envy.json
Labels: json

#91 add silver bullet antipattern
  antipatterns/silver_bullet.json
Labels: json

#92 add soapy business logic antipattern
  antipatterns/soapy_business_logic.json
Labels: json

#48 Created new relatedItem object for antipatterns
  antipatterns/ambiguous_interface.json
  antipatterns/ambiguous_service.json
  antipatterns/api_versioning.json
  antipatterns/big_bang.json
  antipatterns/bloated_service.json
  antipatterns/bottleneck_service.json
  antipatterns/business_process_forever.json
  antipatterns/chatty_service.json
  antipatterns/client_completes_service.json
  antipatterns/connector_envy.json
  antipatterns/crudy_interface.json
  antipatterns/cyclic_dependency.json
  antipatterns/data-driven_migration.json
  antipatterns/data_service.json
  antipatterns/default_anitpattern.json
  antipatterns/duplicated_service.json
  antipatterns/extraneous_adjacent_connector.json
  antipatterns/golden_hammer.json
  antipatterns/hard_coded_endpoints.json
  antipatterns/low_cohesive_operations.json
  antipatterns/maybe_it_is_not_rpc.json
  antipatterns/mega-service.json
  antipatterns/nano_services.json
  antipatterns/no_legacy.json
  antipatterns/nothing_new.json
  antipatterns/on-line_only.json
  antipatterns/overstandardized_soa.json
  antipatterns/redundant_port_types.json
  antipatterns/sand_pile.json
  antipatterns/scattered_parasitic_functionality.json
  antipatterns/service_chain.json
  antipatterns/shared_persistency.json
  antipatterns/silver_bullet.json
  antipatterns/soapy_business_logic.json
  antipatterns/stovepipe_service.json
  antipatterns/the_knot.json
  antipatterns/transactional_integration.json
  antipatterns/wrong_cuts.json
  src/common/anti-pattern.ts
  src/components/AntiPatternCardComponent.vue
  src/components/AntiPatternDetailComponent.vue
  src/components/AntiPatternRelatedComponent.vue
  src/components/AntiPatternsContainerComponent.vue
  src/utils/Utils.ts
  src/views/Home.vue
Labels: enhancement, json, needs-discussion, ui

#94 add sorting for name and evidence
  src/common/sidebar.ts
  src/components/AntiPatternsContainerComponent.vue
  src/views/Home.vue
Labels: enhancement, ui

#95 Added antipatterns count to the toolbar
  src/views/Home.vue
Labels: enhancement, ui

#96 Added Related antipatterns
  antipatterns/big_bang.json
  antipatterns/nano_services.json
  antipatterns/no_legacy.json
  antipatterns/nothing_new.json
  antipatterns/overstandardized_soa.json
  src/components/AntiPatternRelatedComponent.vue
Labels: json

#111 refactoring color, evidence header, toast
  package-lock.json
  package.json
  src/colors.scss
  src/components/AntiPatternCardComponent.vue
  src/components/AntiPatternDetailComponent.vue
  src/components/AntiPatternTagsComponent.vue
  src/plugins/toasted.ts
  src/plugins/vuetify.ts
  src/services/EvidenceService.ts
  src/views/Home.vue
Labels: needs-discussion

#104 add context and category filter
  antipatterns/ambiguous_interface.json
  antipatterns/ambiguous_service.json
  antipatterns/api_versioning.json
  antipatterns/big_bang.json
  antipatterns/bloated_service.json
  antipatterns/bottleneck_service.json
  antipatterns/business_process_forever.json
  antipatterns/chatty_service.json
  antipatterns/client_completes_service.json
  antipatterns/connector_envy.json
  antipatterns/crudy_interface.json
  antipatterns/cyclic_dependency.json
  antipatterns/data-driven_migration.json
  antipatterns/data_service.json
  antipatterns/duplicated_service.json
  antipatterns/extraneous_adjacent_connector.json
  antipatterns/golden_hammer.json
  antipatterns/hard_coded_endpoints.json
  antipatterns/low_cohesive_operations.json
  antipatterns/maybe_it_is_not_rpc.json
  antipatterns/mega-service.json
  antipatterns/nano_services.json
  antipatterns/no_legacy.json
  antipatterns/nothing_new.json
  antipatterns/on-line_only.json
  antipatterns/overstandardized_soa.json
  antipatterns/redundant_port_types.json
  antipatterns/sand_pile.json
  antipatterns/scattered_parasitic_functionality.json
  antipatterns/service_chain.json
  antipatterns/shared_persistency.json
  antipatterns/silver_bullet.json
  antipatterns/soapy_business_logic.json
  antipatterns/stovepipe_service.json
  antipatterns/the_knot.json
  antipatterns/transactional_integration.json
  antipatterns/wrong_cuts.json
  src/common/sidebar.ts
  src/common/tags.ts
  src/components/AntiPatternTagsComponent.vue
  src/utils/Utils.ts
  src/views/Home.vue
Labels: json, ui

#101 Changed evidence mechanism to use hard coded manually filled "cited by" counts and new formula
  antipatterns/ambiguous_service.json
  antipatterns/chatty_service.json
  antipatterns/crudy_interface.json
  antipatterns/data-driven_migration.json
  antipatterns/data_service.json
  antipatterns/hard_coded_endpoints.json
  antipatterns/maybe_it_is_not_rpc.json
  antipatterns/mega-service.json
  antipatterns/nano_services.json
  assets/sources.json
  src/common/anti-pattern.ts
  src/common/bibliography.ts
  src/components/AntiPatternCardComponent.vue
  src/components/AntiPatternDetailComponent.vue
  src/components/AntiPatternTagsComponent.vue
  src/components/AntiPatternsContainerComponent.vue
  src/services/EvidenceService.ts
  src/utils/EvidenceUtils.ts
  src/utils/Utils.ts
  src/views/Home.vue
  vue.config.js
Labels: enhancement, json

#114 Fix webpack issue that leads to missing citation styles
  vue.config.js
Labels: bug

#116 Fixed bug where the citation styles could not be loaded anymore
  src/views/Home.vue
Labels: bug

#113 Results after backward search
  antipatterns/duplicated_service.json
  antipatterns/hard_coded_endpoints.json
  antipatterns/service_chain.json
  antipatterns/shiny_nickel.json
  assets/sources.json
  slr/slr_articles.xlsx
  slr/slr_articles_phase_4.csv
Labels: json

#126 Small refinements
  antipatterns/big_bang.json
  antipatterns/cyclic_dependency.json
  antipatterns/maybe_it_is_not_rpc.json
  antipatterns/mega-service.json
  antipatterns/nano_services.json
  antipatterns/no_legacy.json
  antipatterns/overstandardized_soa.json
  antipatterns/sand_pile.json
  antipatterns/scattered_parasitic_functionality.json
  antipatterns/service_chain.json
  antipatterns/shared_persistency.json
  antipatterns/silver_bullet.json
  antipatterns/stovepipe_service.json
  antipatterns/the_knot.json
  antipatterns/wrong_cuts.json
  src/components/AntiPatternTagsComponent.vue
Labels: enhancement

#125 [WIP] Antipattern documentation refinement
  antipatterns/ambiguous_interface.json
  antipatterns/ambiguous_service.json
  antipatterns/api_versioning.json
  antipatterns/big_bang.json
  antipatterns/bloated_service.json
  antipatterns/bottleneck_service.json
  antipatterns/business_process_forever.json
  antipatterns/chatty_service.json
  antipatterns/client_completes_service.json
  antipatterns/connector_envy.json
  antipatterns/crudy_interface.json
  antipatterns/cyclic_dependency.json
  antipatterns/data-driven_migration.json
  antipatterns/data_service.json
  antipatterns/duplicated_service.json
  antipatterns/extraneous_adjacent_connector.json
  antipatterns/golden_hammer.json
  antipatterns/hard_coded_endpoints.json
  antipatterns/low_cohesive_operations.json
  antipatterns/maybe_it_is_not_rpc.json
  antipatterns/mega-service.json
  antipatterns/nano_services.json
  antipatterns/no_legacy.json
  antipatterns/nothing_new.json
  antipatterns/on-line_only.json
  antipatterns/overstandardized_soa.json
  antipatterns/redundant_port_types.json
  antipatterns/sand_pile.json
  antipatterns/scattered_parasitic_functionality.json
  antipatterns/service_chain.json
  antipatterns/shared_persistency.json
  antipatterns/shiny_nickel.json
  antipatterns/silver_bullet.json
  antipatterns/soapy_business_logic.json
  antipatterns/stovepipe_service.json
  antipatterns/the_knot.json
  antipatterns/transactional_integration.json
  antipatterns/wrong_cuts.json
Labels: needs-discussion
